.footer{
    margin-left: 450px;
    margin-top: 600px;
    padding: 15px;
    position: fixed;
}

@media screen and (max-width:992px){
    .footer{
        margin-left: 0px !important;
    }
}

@media print{
    .footer{
        margin-top: 0px !important;
        margin-left: 0px !important;
    }
}