<div id="sidebar">

  <!-- Side Bar Content -->
    <mat-nav-list>

        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
        </a>

        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/stockModule']">
          <mat-icon class="sidenav-icon">assignment</mat-icon> {{ 'Stock Module' | translate }}
        </a>

        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/procurementModule']">
          <mat-icon class="sidenav-icon">event</mat-icon> {{ 'Procurement Module' | translate }}
        </a>

        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/manageModule']">
          <mat-icon class="sidenav-icon">list</mat-icon> {{ 'Manage Module' | translate }}
        </a>

        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/produceModule']">
          <mat-icon class="sidenav-icon">star</mat-icon> {{ 'Produce Module' | translate }}
        </a>

    </mat-nav-list>

</div>
